<html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="intro cyan darken-4 z-depth-1">
    <h1 class="grey-text text-lighten-5">Rebot</h1>
    <h5 clas="grey lighten-4 grey-text text-darken-1">Automate Debugging</h5>
</div>
<div class="row">
    <div class="col s12">
        
      
        <div id="about" class="col s12 page">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#about">About</a></li>
                <li class="tab col s3"><a href="#stream">Stream</a></li>
                <li class="tab col s3"><a href="#test3">Test 3</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
            </ul>
            <div class="container about">
              <h5>About me</h5>
              <hr>
              <div class="row">
                <div class="col s12 m4 l4">
                  <h6>Motivation</h6>
                  <p>Rebot is a client side "bot" of self repairing service. Condensed from being repair bot, rebot sweetly and quietly listens to your logs. We make mistakes, as developers, as devops, as sysadmins. Every role has a range of experience and with the full stack of some thousand tools out there, it is hard to be expert at everything.</p> 
                    <p> Rebot on the other hand is your personal search bot which looks for mistakes you are making by analyzing logs and shoots out solutions/shows you links to the solutions that is most probably going to work.</p>
                </div>
                <div class="col s12 m4 l4">
                  <h6>Profile</h6>
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <img src="http://labs.qnimate.com/portfolio-materialize/images/profile.png" width="64" height="64">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Link</a>
                      <a href='#'>Link</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m4 l4">
                  <h6>current jobs</h6>
                  <ul class="collapsible">
                    <li class="active">
                      <div class="collapsible-header"><i class="mdi-av-web"></i>Designer</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>Developer</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="mdi-av-play-shopping-bag"></i>Video Editor</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="mdi-editor-insert-comment"></i>Support Asst.</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div id="stream" class= "col s12 page">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#about">About</a></li>
                <li class="tab col s3"><a href="#stream">Stream</a></li>
                <li class="tab col s3"><a href="#test3">Test 3</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
            </ul>
            <div class="row">
                <div class="card-content white-text">

                    <div class="col s12 m6">
                        <div class="card left blue-grey darken-1">
                            <span class="card-title">Incoming logs</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                
                    <div class="col s6 z-depth-1">
                        <div class="card right-top blue-grey darken-1">
                            asd
                        </div>
                    </div>
                    <div class="col s6 z-depth-1">
                        <div class="card right-bottom blue-grey darken-1">
                            asd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>
