<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>
<body>
  <li class="tab col s3"><a href="./demo">Live Demo</a></li>
     
<div class="navbar-fixed">
    <nav>
        <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#about">About</a></li>
		<li class="tab col s3"><a href="./search">Search</a></li>
                <li class="tab col s3"><a href="./demo">Live Demo</a></li>
                <li class="tab col s3"><a href="#gifdemo">How does it work?</a></li>
                <li class="tab col s3"><a href="#gifdemocont">Streaming logs?</a></li>
        </ul>
    </nav>
</div>
    
</body>
</html>
