<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="../static/prism.js"></script>
  <link href="../static/css/prism.css" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../static/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="../static/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <ul class="tabs">
                <li class="tab col s3"><a class="active" href="./index#about">About</a></li>
                <li class="tab col s3"><a href="./search">Search</a></li>
                <li class="tab col s3"><a href="./demo">Live Demo</a></li>
                <li class="tab col s3"><a href="./#gifdemo">How does it work?</a></li>
                <li class="tab col s3"><a href="./#gifdemocont">Streaming logs?</a></li>
        </ul>
    </nav>
</div>
{% block index %}
{% block demo %}
</body>
</html>
