{% extends "base.html" %}
{% block title %}Demo{% endblock %}
{% block content %}
<br>
<a href="/" ><input class="btn left" value="Go back"></a>
<div class="row">
  <div class="col s12"> 
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="input-field col s6">
	<div class="card back-color" onmouseenter="Materialize.toast('Sample log for demo', 1000)">
	  <pre><code class="language-markup">
Traceback (most recent call last):
  File "pyspark/hbase/hbase_tests.py", line 81, in <module>
    test._test()
  File "pyspark/hbase/hbase_tests.py", line 76, in _test
    self.create_test_tables()
  File "pyspark/hbase/hbase_tests.py", line 46, in create_test_tables
    self._ctx().sql(create_sql).toRdd().collect()
  File "/shared/pyjava/python/pyspark/sql.py", line 1620, in sql
    return SchemaRDD(self._ssql_ctx.sql(sqlQuery).toJavaSchemaRDD(), self)
  File "/shared/pyjava/python/pyspark/hbase/hbase.py", line 58, in _ssql_ctx
    self._scala_HBaseSQLContext = self._get_hbase_ctx()
  File "/shared/pyjava/python/pyspark/hbase/hbase.py", line 83, in _get_hbase_ctx
    return self._jvm.HBaseSQLContext(self._jsc.sc())
  File "/shared/pyjava/python/lib/py4j-0.8.2.1-src.zip/py4j/java_gateway.py", line 726, in __getattr__
py4j.protocol.Py4JError: Trying to call a package.
	  </code></pre>
        </div>	  
	<input class="btn right" onclick="Materialize.toast('Sending API Call to backend', 1000)" type="submit" value="Boom!">
      </div>
    </form>
    <div class="col s6" style="padding-top:1%">
      <div class="card blue-grey darken-1" style="height:60%;" onmouseenter="Materialize.toast('Api call back', 1000)">
        <div class="card-content white-text ">
	  <div class="left">{</div>
	  <table>
	    {% if show %}
	    <tr>
              <th> <div class="pad-left">answer_link: </div> </th><td> <a href="{{ result['answer_link'] }}">{{ result['answer_link'] }}</a> </td>
	    </tr>
	    <tr>
              <th> <div class="pad-left">num_results: </div> </th><td>{{ result['num_results'] }}</td>
	    </tr>
	    <tr>
              <th> <div class="pad-left">ques_features: {</div> </th>
	      <td>
	  	{% for key, value in result['ques_features'].iteritems() %}
	  	<tr>
	  	  <th> <div class="pad-tooleft">{{ key }}:</div> </th><td>{{ value[:50] }}..</td>
	  	</tr>
	  	{% endfor %}
		
              <th> <div class="pad-left">}</div> </th>
	      </td>
	    </tr>
	    <tr>
              <th> <div class="pad-left">ans_features:</div> </th>
	      <td> .. </td>
	    </tr>
	    <tr>
              <th> <div class="pad-left">top_10:</div> </th>
	      <td> .. </td>
	    </tr>
	    {% endif %}
	  </table>
          <div class="left">}</div>
	</div>
        <div class="card-action card-content">
	  <a>Api callbacks</a>
        </div>
      </div>
    </div>
  </div>   
</div> 
{% endblock %}
