<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="../static/prism.js"></script>
  <link href="../static/css/prism.css" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../static/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="../static/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <ul class="tabs">
                <li class="tab col s3"><a class="active" href="./index#about">About</a></li>
                <li class="tab col s3"><a href="./search">Search</a></li>
                <li class="tab col s3"><a href="./demo">Live Demo</a></li>
                <li class="tab col s3"><a href="./#gifdemo">How does it work?</a></li>
                <li class="tab col s3"><a href="./#gifdemocont">Streaming logs?</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <form class="col s6">
      <div class="card blue-grey lighten-2">
	  <pre><code class="language-markup">
Traceback (most recent call last):
  File "pyspark/hbase/hbase_tests.py", line 81, in <module>
    test._test()
  File "pyspark/hbase/hbase_tests.py", line 76, in _test
    self.create_test_tables()
  File "pyspark/hbase/hbase_tests.py", line 46, in create_test_tables
    self._ctx().sql(create_sql).toRdd().collect()
  File "/shared/pyjava/python/pyspark/sql.py", line 1620, in sql
    return SchemaRDD(self._ssql_ctx.sql(sqlQuery).toJavaSchemaRDD(), self)
  File "/shared/pyjava/python/pyspark/hbase/hbase.py", line 58, in _ssql_ctx
    self._scala_HBaseSQLContext = self._get_hbase_ctx()
  File "/shared/pyjava/python/pyspark/hbase/hbase.py", line 83, in _get_hbase_ctx
    return self._jvm.HBaseSQLContext(self._jsc.sc())
  File "/shared/pyjava/python/lib/py4j-0.8.2.1-src.zip/py4j/java_gateway.py", line 726, in __getattr__
py4j.protocol.Py4JError: Trying to call a package.
	    </code></pre>

        <div class="card-action">
	  <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
        </div>
      </div>
    </form>
  </div>    
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
	  <i class="material-icons prefix">search</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Search Logs</label>
        </div>
      </div>
    </form>
  </div>    
 <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
</body>
</html>
