<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#about">About</a></li>
		<li class="tab col s3"><a href="./search" target="./search">Search</a></li>
                <li class="tab col s3"><a href="./demo">Live Demo</a></li>
                <li class="tab col s3"><a href="#gifdemo">How does it work?</a></li>
                <li class="tab col s3"><a href="#gifdemocont">Streaming logs?</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col s12">
        <div id="about" class="col s12 page">
            
            <div class="container about">
              <h5>About me</h5>
              <hr>
              <div class="row">
                <div class="col s12 m4 l4">
                  <h6>Profile</h6>
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <img src="http://labs.qnimate.com/portfolio-materialize/images/profile.png" width="64" height="64">
                      <p>Automated debuger, personal debug helper, self repairing system, debugbot, AI for debugging, ML from errors. Call me anything. I've lost my <a href="http://www.imdb.com/title/tt0470752/" style="color:lightblue">Ava</a> and started fixing myself to go find her. Help me become smarter by contributing to my <a href="https://github.com/nave91/rebot" style="color:lightblue">repo</a></p>
                    </div>
                    <div class="card-action">
                      <a href="https://github.com/nave91">Author</a>
                      <a href='https://nave91.github.io/rebot'>Project</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m4 l4">
                  <h6>Motivation</h6>
                  <p>Rebot is a client side "bot" of self repairing service. We make mistakes, as developers, as devops, as sysadmins. Every role has a range of experience and with the full stack of some thousand tools out there, it is hard to be expert at everything.</p> 
                    <p> Rebot can help avoid overcome this problem by being your personal search bot. Condensed from being repair bot, rebot quietly listens to your logs for errors and shoots out solutions/shows you links to the most viable solutions that are going to work.</p>
                </div>
                <div class="col s12 m4 l4">
                  <h6>Useful Links</h6>
                  <ul class="collapsible">
                    <li class="active">
                      <a href="#gifdemo"><div class="collapsible-header"><i class="mdi-av-web"></i>Gif demo</div></a>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                        <a href="#gifdemocont"><div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>Streaming gif demo</div></a>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
		    <li>
                        <a href="./demo"><div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>Live Demo</div></a>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div id="gifdemo" class= "col s12 page">
        <a href="#gifdemo"><img src="../static/rebot.gif" ></a>
        </div>
        <div id="gifdemocont" class= "col s12 page">
        <a href="#gifdemocont"><img src="../static/rebot_cont.gif"></a>
        </div>

    </div>
</div>
    
</body>
</html>
